* { box-sizing: border-box; }

*:not(input):not(textarea) {
  user-select: none;
  -webkit-user-select: none;
}

body {
  margin: 0;
  font-family: ui-monospace, Consolas, monospace;
  background: #100e0c;
  color: #e2dbd2;
  overflow: hidden;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
}

p { margin: 0; }
